body {
  margin: 0;
  padding: 0;
}

.gallery {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  max-width: 65%;
  margin: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

img:hover {
  transform: scale(1.04);
  transition: transform 0.8s;
  gap: 6px;
}
